
@mixin pos($v) {
  @if
  $v == a {
  position: absolute;
} @else if $v == r {
  position: relative;
} @else if $v == f {
  position: fixed;
}
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}

body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}


.fly-index-C{
  width:100vw;
  height:100vh;
  overflow: auto;
  overflow-x: hidden;
  .fly-index-content{
    width:100vw;
    box-sizing: border-box;
  }

  .fly-text-img{
    box-sizing: border-box;
    width:80%;
    margin:0 auto;
    padding-top:10vh;
    height:32vh;
  }

  .fly-leaf{
    @include pos(r);
    .fly-logo{
      width:20vw;
      @include pos(a);
      top:-3vh;
      left:32vw;
    }
    .fly-t-info{
      @include pos(a);
      top:10vh;
      left:25vw;
      width:40vw;
    }
    width:98vw;
    margin:0 auto;
  }

  .fly-rice-stage{
    .fly-rice{
      width: 25vw;
      @include pos(a);
      top:40vh;
      left:35vw;
      span{
        display: block;
        @include pos(a);
        right:10px;
        bottom:10px;
        @include br(6px);
        border:2px dashed #91cfa5;
        box-sizing: border-box;
        width:20px;
        height:20px;
        color:red;
        font-size:20px;
        line-height:20px;

      }
      .fly-checked-rice{
        @include pos(a);
        left: 0;
        top:0;
        display: none;
        &.active{

          display: block;

        }
      }
    }
  }
}
 